USE [master]
GO
/****** Object:  Database [ClothingPlatformDB]    Script Date: 7/21/2026 4:19:54 PM ******/
CREATE DATABASE [ClothingPlatformDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothingPlatformDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClothingPlatformDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothingPlatformDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClothingPlatformDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothingPlatformDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothingPlatformDB]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[slug] [varchar](100) NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_messages]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_messages](
	[contact_message_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_notifications]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[order_id] [int] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_customer_notifications] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guest_order_items]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guest_order_items](
	[guest_order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[guest_order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price_at_purchase] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guest_order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guest_orders]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guest_orders](
	[guest_order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](150) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[total_quantity] [int] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[order_status] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guest_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price_at_purchase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_returns]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_returns](
	[order_return_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[reason_checkbox] [nvarchar](255) NOT NULL,
	[reason_text] [nvarchar](max) NULL,
	[receipt_image_url] [nvarchar](500) NULL,
	[return_option] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[order_status] [varchar](20) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[shipping_address] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[cancel_reason] [nvarchar](max) NULL,
	[applied_promo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[transaction_id] [varchar](100) NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[error_message] [text] NULL,
	[created_at] [datetime2](7) NULL,
	[slip_image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_primary] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variants]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variants](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[size] [varchar](20) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[sku] [varchar](1000) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[sale_price] [decimal](10, 2) NULL,
	[purchase_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__product___EACC68B7899A808F] PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[description] [text] NULL,
	[is_featured] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[promo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[subtitle] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[promo_code] [nvarchar](50) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[button_text] [nvarchar](100) NULL,
	[gradient_css] [nvarchar](250) NULL,
	[image_url] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[usage_limit] [int] NOT NULL,
	[redeemed] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
	[apply_all] [bit] NOT NULL,
	[note] [nvarchar](500) NULL,
	[user_limit] [int] NOT NULL,
	[is_coupon] [bit] NOT NULL,
	[new_member_only] [bit] NOT NULL,
	[promo_type] [nvarchar](50) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_activity_logs]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_activity_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[target_table] [varchar](100) NOT NULL,
	[target_id] [int] NOT NULL,
	[action_type] [varchar](20) NOT NULL,
	[description] [text] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_fulfillment_log]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_fulfillment_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
	[action_taken] [varchar](100) NOT NULL,
	[notes] [text] NULL,
	[action_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_sales_daily]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_sales_daily](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[total_products_sold] [int] NOT NULL,
	[total_sales_value] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_sales_logs]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_sales_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity_sold] [int] NOT NULL,
	[sale_amount] [decimal](10, 2) NOT NULL,
	[sold_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_sales_monthly]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_sales_monthly](
	[monthly_report_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[report_month] [int] NOT NULL,
	[report_year] [int] NOT NULL,
	[total_products_sold] [int] NOT NULL,
	[total_sales_value] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[monthly_report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_sales_daily]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_sales_daily](
	[daily_summary_id] [int] IDENTITY(1,1) NOT NULL,
	[report_date] [date] NOT NULL,
	[active_staff_count] [int] NOT NULL,
	[total_products_sold] [int] NOT NULL,
	[total_revenue] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[daily_summary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_sales_monthly]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_sales_monthly](
	[monthly_summary_id] [int] IDENTITY(1,1) NOT NULL,
	[report_month] [int] NOT NULL,
	[report_year] [int] NOT NULL,
	[total_products_sold] [int] NOT NULL,
	[total_revenue] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[monthly_summary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[phone_number] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlists]    Script Date: 7/21/2026 4:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlists](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([cart_id], [user_id], [variant_id], [quantity]) VALUES (1, 5, 1, 2)
INSERT [dbo].[cart_items] ([cart_id], [user_id], [variant_id], [quantity]) VALUES (2, 5, 4, 1)
INSERT [dbo].[cart_items] ([cart_id], [user_id], [variant_id], [quantity]) VALUES (3, 6, 9, 1)
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [name], [slug], [parent_id]) VALUES (1, N'Men Apparel', N'men-apparel', NULL)
INSERT [dbo].[categories] ([category_id], [name], [slug], [parent_id]) VALUES (2, N'Women Apparel', N'women-apparel', NULL)
INSERT [dbo].[categories] ([category_id], [name], [slug], [parent_id]) VALUES (3, N'Kids Wear', N'kids-wear', NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[contact_messages] ON 

INSERT [dbo].[contact_messages] ([contact_message_id], [full_name], [email], [message], [created_at]) VALUES (1, N'Su Su', N'su@gmail.com', N'I need more Beggy Jean', CAST(N'2026-07-02T00:40:01.720' AS DateTime))
INSERT [dbo].[contact_messages] ([contact_message_id], [full_name], [email], [message], [created_at]) VALUES (2, N'Su Su', N'su@gmail.com', N'Need summer clothes', CAST(N'2026-07-03T11:05:21.103' AS DateTime))
INSERT [dbo].[contact_messages] ([contact_message_id], [full_name], [email], [message], [created_at]) VALUES (3, N'Su Su', N'su@gmail.com', N'the delivery time is too long', CAST(N'2026-07-03T23:03:52.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[contact_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_notifications] ON 

INSERT [dbo].[customer_notifications] ([notification_id], [user_id], [title], [message], [order_id], [is_read], [created_at]) VALUES (1, 60, N'Admin removed your order', N'Order ORD-0230 was removed by the admin team and no longer appears in your history.', 230, 0, CAST(N'2026-06-21T23:00:29.8502651' AS DateTime2))
INSERT [dbo].[customer_notifications] ([notification_id], [user_id], [title], [message], [order_id], [is_read], [created_at]) VALUES (2, 22, N'Admin removed your order', N'Order ORD-0231 was removed by the admin team and no longer appears in your history.', 231, 1, CAST(N'2026-06-21T23:38:51.2022836' AS DateTime2))
INSERT [dbo].[customer_notifications] ([notification_id], [user_id], [title], [message], [order_id], [is_read], [created_at]) VALUES (3, 63, N'Order Cancelled', N'Your order ORD-0239 has been cancelled.', 239, 1, CAST(N'2026-06-29T22:13:07.5809778' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customer_notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[guest_order_items] ON 

INSERT [dbo].[guest_order_items] ([guest_order_item_id], [guest_order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (1, 1, 1, 1, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[guest_order_items] ([guest_order_item_id], [guest_order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (2, 1, 2, 1, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[guest_order_items] ([guest_order_item_id], [guest_order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (3, 2, 3, 1, CAST(28000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[guest_order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[guest_orders] ON 

INSERT [dbo].[guest_orders] ([guest_order_id], [customer_name], [phone_number], [shipping_address], [total_quantity], [total_amount], [order_status], [PaymentMethod], [PaymentStatus], [created_at]) VALUES (1, N'U Thant Zin', N'09123456789', N'No. 12, Pyay Road, Kamayut, Yangon', 2, CAST(45000.00 AS Decimal(18, 2)), N'Pending', N'COD', N'Unpaid', CAST(N'2026-06-18T20:13:35.943' AS DateTime))
INSERT [dbo].[guest_orders] ([guest_order_id], [customer_name], [phone_number], [shipping_address], [total_quantity], [total_amount], [order_status], [PaymentMethod], [PaymentStatus], [created_at]) VALUES (2, N'Daw Hla Hla', N'09234567890', N'Aung San St, Yakin, Yangon', 1, CAST(28000.00 AS Decimal(18, 2)), N'Pending', N'KPay', N'Paid', CAST(N'2026-06-18T20:13:35.943' AS DateTime))
INSERT [dbo].[guest_orders] ([guest_order_id], [customer_name], [phone_number], [shipping_address], [total_quantity], [total_amount], [order_status], [PaymentMethod], [PaymentStatus], [created_at]) VALUES (3, N'Ko Min Thuta', N'09345678901', N'78th Street, Mandalay', 3, CAST(85000.00 AS Decimal(18, 2)), N'Confirm', N'WaveMoney', N'Paid', CAST(N'2026-06-18T20:13:35.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[guest_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_item_id], [order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (1, 1, 1, 2, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (2, 2, 9, 1, CAST(29000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [variant_id], [quantity], [price_at_purchase]) VALUES (3, 3, 4, 1, CAST(32000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_returns] ON 

INSERT [dbo].[order_returns] ([order_return_id], [order_id], [variant_id], [quantity], [reason_checkbox], [reason_text], [receipt_image_url], [return_option], [created_at], [status]) VALUES (2, 1242, 3, 1, N'Damage order', N'', N'/images/returns/df6ece41c84248cd9225e93bd7a16cb0.jpg', N'Refund', CAST(N'2026-07-02T09:16:40.150' AS DateTime), N'Pending')
INSERT [dbo].[order_returns] ([order_return_id], [order_id], [variant_id], [quantity], [reason_checkbox], [reason_text], [receipt_image_url], [return_option], [created_at], [status]) VALUES (3, 1243, 277, 1, N'Damage order', N'', N'/images/returns/3e8cd56a616449b583cd7c759a3c6097.jpg', N'Refund', CAST(N'2026-07-02T22:40:05.137' AS DateTime), N'Approved')
INSERT [dbo].[order_returns] ([order_return_id], [order_id], [variant_id], [quantity], [reason_checkbox], [reason_text], [receipt_image_url], [return_option], [created_at], [status]) VALUES (4, 1245, 339, 1, N'Color didn''t match', N'', N'/images/returns/d8b65f2c127744de87b01a458a89b349.jpg', N'Refund', CAST(N'2026-07-03T21:25:37.840' AS DateTime), N'Approved')
SET IDENTITY_INSERT [dbo].[order_returns] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [user_id], [total_amount], [order_status], [payment_status], [shipping_address], [created_at], [cancel_reason], [applied_promo]) VALUES (1, 5, CAST(50000.00 AS Decimal(10, 2)), N'Confirm', N'paid', N'No.11, Insein Road, Yangon', CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL, NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [total_amount], [order_status], [payment_status], [shipping_address], [created_at], [cancel_reason], [applied_promo]) VALUES (2, 6, CAST(29000.00 AS Decimal(10, 2)), N'Confirm', N'paid', N'No.22, Strand Road, Pathein', CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL, NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [total_amount], [order_status], [payment_status], [shipping_address], [created_at], [cancel_reason], [applied_promo]) VALUES (3, 7, CAST(32000.00 AS Decimal(10, 2)), N'Pending', N'unpaid', N'No.33, Bago Road, Taungoo', CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([payment_id], [order_id], [payment_method], [transaction_id], [amount], [payment_status], [error_message], [created_at], [slip_image_url]) VALUES (1, 1, N'kpay', N'TXN-KPY-001', CAST(50000.00 AS Decimal(10, 2)), N'completed', NULL, CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL)
INSERT [dbo].[payments] ([payment_id], [order_id], [payment_method], [transaction_id], [amount], [payment_status], [error_message], [created_at], [slip_image_url]) VALUES (2, 2, N'wave_money', N'TXN-WAV-002', CAST(29000.00 AS Decimal(10, 2)), N'completed', NULL, CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL)
INSERT [dbo].[payments] ([payment_id], [order_id], [payment_method], [transaction_id], [amount], [payment_status], [error_message], [created_at], [slip_image_url]) VALUES (3, 3, N'cod', NULL, CAST(32000.00 AS Decimal(10, 2)), N'pending', NULL, CAST(N'2026-06-13T20:03:55.4366667' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [created_at]) VALUES (11, N'orders.create', N'Can place new orders', CAST(N'2026-07-20T10:43:34.593' AS DateTime))
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [created_at]) VALUES (12, N'orders.view', N'Can view order history and lists', CAST(N'2026-07-20T10:43:35.007' AS DateTime))
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [created_at]) VALUES (13, N'orders.update', N'Can update order details and status', CAST(N'2026-07-20T10:43:35.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([image_id], [product_id], [image_url], [is_primary]) VALUES (1, 1, N'1180d169-cb3f-4539-b2a2-711f13a270d5_photo_5_2026-06-21_19-58-20.jpg', 1)
INSERT [dbo].[product_images] ([image_id], [product_id], [image_url], [is_primary]) VALUES (2, 1, N'/images/products/oxford-back.jpg', 0)
INSERT [dbo].[product_images] ([image_id], [product_id], [image_url], [is_primary]) VALUES (3, 2, N'1ff4c6dd-6c72-4f79-839b-09bdd011edce_photo_7_2026-06-21_19-58-20.jpg', 1)
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[product_variants] ON 

INSERT [dbo].[product_variants] ([variant_id], [product_id], [size], [color], [sku], [stock_quantity], [sale_price], [purchase_price]) VALUES (1, 1, N'M', N'White', N'SKU-OXF-M-WH', 49, CAST(25000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[product_variants] ([variant_id], [product_id], [size], [color], [sku], [stock_quantity], [sale_price], [purchase_price]) VALUES (2, 1, N'L', N'Blue', N'SKU-OXF-L-BL', 45, CAST(25000.00 AS Decimal(10, 2)), CAST(18000.00 AS Decimal(10, 2)))
INSERT [dbo].[product_variants] ([variant_id], [product_id], [size], [color], [sku], [stock_quantity], [sale_price], [purchase_price]) VALUES (3, 2, N'L', N'Dark Blue', N'SKU-DNM-L-DB', 24, CAST(29000.00 AS Decimal(10, 2)), CAST(19000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[product_variants] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [category_id], [name], [description], [is_featured], [created_at], [promo_id]) VALUES (1, 4, N'Classic Oxford Shirt', N'Premium 100% cotton casual oxford shirt.', 1, CAST(N'2026-06-13T20:03:55.4300000' AS DateTime2), NULL)
INSERT [dbo].[products] ([product_id], [category_id], [name], [description], [is_featured], [created_at], [promo_id]) VALUES (2, 4, N'Slim Fit Denim Shirt', N'Stylish blue denim shirt for formal & casual wear.', 0, CAST(N'2026-06-13T20:03:55.4300000' AS DateTime2), 6)
INSERT [dbo].[products] ([product_id], [category_id], [name], [description], [is_featured], [created_at], [promo_id]) VALUES (3, 5, N'Chino Trousers', N'Comfortable stretch chino pants for men.', 1, CAST(N'2026-06-13T20:03:55.4300000' AS DateTime2), 8)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 11, CAST(N'2026-07-20T10:43:35.333' AS DateTime))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 12, CAST(N'2026-07-20T10:43:35.483' AS DateTime))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 13, CAST(N'2026-07-20T10:43:35.503' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at]) VALUES (1, N'admin', N'Full administrator access', CAST(N'2026-06-21T01:27:44.077' AS DateTime))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at]) VALUES (2, N'customer', N'Customer shopping account', CAST(N'2026-06-21T01:27:44.077' AS DateTime))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [created_at]) VALUES (3, N'staff', N'Staff operations access', CAST(N'2026-06-21T01:27:44.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_activity_logs] ON 

INSERT [dbo].[staff_activity_logs] ([log_id], [staff_id], [target_table], [target_id], [action_type], [description], [created_at]) VALUES (1, 2, N'products', 1, N'update', N'Updated base price for Classic Oxford Shirt.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
INSERT [dbo].[staff_activity_logs] ([log_id], [staff_id], [target_table], [target_id], [action_type], [description], [created_at]) VALUES (2, 2, N'product_variants', 1, N'update', N'Restocked stock_quantity +50 items.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
INSERT [dbo].[staff_activity_logs] ([log_id], [staff_id], [target_table], [target_id], [action_type], [description], [created_at]) VALUES (3, 3, N'products', 21, N'create', N'Created new spring entry placeholder.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[staff_activity_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_fulfillment_log] ON 

INSERT [dbo].[staff_fulfillment_log] ([log_id], [order_id], [staff_id], [action_taken], [notes], [action_at]) VALUES (1, 1, 2, N'Packed Order', N'All items secured in boutique packaging.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
INSERT [dbo].[staff_fulfillment_log] ([log_id], [order_id], [staff_id], [action_taken], [notes], [action_at]) VALUES (2, 1, 3, N'Shipped Order', N'Handed over to Ninja Van delivery.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
INSERT [dbo].[staff_fulfillment_log] ([log_id], [order_id], [staff_id], [action_taken], [notes], [action_at]) VALUES (3, 2, 2, N'Packed Order', N'Gift wrapper added per request.', CAST(N'2026-06-13T20:03:55.4400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[staff_fulfillment_log] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_sales_daily] ON 

INSERT [dbo].[staff_sales_daily] ([report_id], [staff_id], [report_date], [total_products_sold], [total_sales_value]) VALUES (1, 2, CAST(N'2026-06-01' AS Date), 5, CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[staff_sales_daily] ([report_id], [staff_id], [report_date], [total_products_sold], [total_sales_value]) VALUES (2, 3, CAST(N'2026-06-01' AS Date), 3, CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[staff_sales_daily] ([report_id], [staff_id], [report_date], [total_products_sold], [total_sales_value]) VALUES (3, 4, CAST(N'2026-06-01' AS Date), 4, CAST(210000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[staff_sales_daily] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_sales_logs] ON 

INSERT [dbo].[staff_sales_logs] ([log_id], [staff_id], [order_id], [variant_id], [quantity_sold], [sale_amount], [sold_at]) VALUES (1, 2, 1, 1, 2, CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-06-13T20:03:55.4433333' AS DateTime2))
INSERT [dbo].[staff_sales_logs] ([log_id], [staff_id], [order_id], [variant_id], [quantity_sold], [sale_amount], [sold_at]) VALUES (2, 3, 2, 9, 1, CAST(29000.00 AS Decimal(10, 2)), CAST(N'2026-06-13T20:03:55.4433333' AS DateTime2))
INSERT [dbo].[staff_sales_logs] ([log_id], [staff_id], [order_id], [variant_id], [quantity_sold], [sale_amount], [sold_at]) VALUES (3, 4, 4, 14, 1, CAST(170000.00 AS Decimal(10, 2)), CAST(N'2026-06-13T20:03:55.4433333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[staff_sales_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_sales_monthly] ON 

INSERT [dbo].[staff_sales_monthly] ([monthly_report_id], [staff_id], [report_month], [report_year], [total_products_sold], [total_sales_value]) VALUES (1, 2, 1, 2026, 120, CAST(3400000.00 AS Decimal(10, 2)))
INSERT [dbo].[staff_sales_monthly] ([monthly_report_id], [staff_id], [report_month], [report_year], [total_products_sold], [total_sales_value]) VALUES (2, 3, 1, 2026, 95, CAST(2800000.00 AS Decimal(10, 2)))
INSERT [dbo].[staff_sales_monthly] ([monthly_report_id], [staff_id], [report_month], [report_year], [total_products_sold], [total_sales_value]) VALUES (3, 4, 1, 2026, 140, CAST(4200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[staff_sales_monthly] OFF
GO
SET IDENTITY_INSERT [dbo].[store_sales_daily] ON 

INSERT [dbo].[store_sales_daily] ([daily_summary_id], [report_date], [active_staff_count], [total_products_sold], [total_revenue]) VALUES (1, CAST(N'2026-06-01' AS Date), 3, 12, CAST(415000.00 AS Decimal(10, 2)))
INSERT [dbo].[store_sales_daily] ([daily_summary_id], [report_date], [active_staff_count], [total_products_sold], [total_revenue]) VALUES (2, CAST(N'2026-06-02' AS Date), 3, 9, CAST(235000.00 AS Decimal(10, 2)))
INSERT [dbo].[store_sales_daily] ([daily_summary_id], [report_date], [active_staff_count], [total_products_sold], [total_revenue]) VALUES (3, CAST(N'2026-06-03' AS Date), 3, 15, CAST(415000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[store_sales_daily] OFF
GO
SET IDENTITY_INSERT [dbo].[store_sales_monthly] ON 

INSERT [dbo].[store_sales_monthly] ([monthly_summary_id], [report_month], [report_year], [total_products_sold], [total_revenue]) VALUES (1, 1, 2025, 280, CAST(8500000.00 AS Decimal(10, 2)))
INSERT [dbo].[store_sales_monthly] ([monthly_summary_id], [report_month], [report_year], [total_products_sold], [total_revenue]) VALUES (2, 2, 2025, 260, CAST(7900000.00 AS Decimal(10, 2)))
INSERT [dbo].[store_sales_monthly] ([monthly_summary_id], [report_month], [report_year], [total_products_sold], [total_revenue]) VALUES (3, 3, 2025, 310, CAST(9400000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[store_sales_monthly] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [address], [phone_number], [created_at], [role_id]) VALUES (1, N'Thura', N'Lin', N'thura.lin@gmail.com', N'hash_1', N'No.123, Bogyoke St, Yangon', N'091111111', CAST(N'2026-06-13T20:03:55.4266667' AS DateTime2), 1)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [address], [phone_number], [created_at], [role_id]) VALUES (2, N'Hsu', N'Myat', N'hsu.myat@gmail.com', N'hash_2', N'No.45, Pyay Road, Kamayut, Yangon', N'092222222', CAST(N'2026-06-13T20:03:55.4266667' AS DateTime2), 3)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [address], [phone_number], [created_at], [role_id]) VALUES (3, N'Kyaw', N'Zin', N'kyaw.zin@gmail.com', N'hash_3', N'No.78, 19th St, Mandalay', N'093333333', CAST(N'2026-06-13T20:03:55.4266667' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlists] ON 

INSERT [dbo].[wishlists] ([wishlist_id], [user_id], [product_id]) VALUES (1, 5, 5)
INSERT [dbo].[wishlists] ([wishlist_id], [user_id], [product_id]) VALUES (2, 5, 12)
INSERT [dbo].[wishlists] ([wishlist_id], [user_id], [product_id]) VALUES (3, 6, 7)
SET IDENTITY_INSERT [dbo].[wishlists] OFF
GO
/****** Object:  Index [UX_CartItems_User_Variant]    Script Date: 7/21/2026 4:19:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CartItems_User_Variant] ON [dbo].[cart_items]
(
	[user_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__32DD1E4CEA146E15]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_permission_name]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_permission_name] UNIQUE NONCLUSTERED 
(
	[permission_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_StaffDaily]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[staff_sales_daily] ADD  CONSTRAINT [UC_StaffDaily] UNIQUE NONCLUSTERED 
(
	[staff_id] ASC,
	[report_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_StaffMonthly]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[staff_sales_monthly] ADD  CONSTRAINT [UC_StaffMonthly] UNIQUE NONCLUSTERED 
(
	[staff_id] ASC,
	[report_year] ASC,
	[report_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__store_sa__7BFFBECF8DA84555]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[store_sales_daily] ADD UNIQUE NONCLUSTERED 
(
	[report_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_StoreMonthly]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[store_sales_monthly] ADD  CONSTRAINT [UC_StoreMonthly] UNIQUE NONCLUSTERED 
(
	[report_year] ASC,
	[report_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61649B16A59D]    Script Date: 7/21/2026 4:19:55 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[contact_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_notifications] ADD  CONSTRAINT [DF_customer_notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[customer_notifications] ADD  CONSTRAINT [DF_customer_notifications_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[guest_order_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[guest_order_items] ADD  DEFAULT ((0.00)) FOR [price_at_purchase]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT ((1)) FOR [total_quantity]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT ((0.00)) FOR [total_amount]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT ('Pending') FOR [order_status]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT ('COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[guest_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_returns] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_returns] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF_orders_order_status]  DEFAULT ('Pending') FOR [order_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('unpaid') FOR [payment_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [DF_permissions_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_images] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[product_variants] ADD  CONSTRAINT [DF__product_v__stock__59FA5E80]  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[product_variants] ADD  CONSTRAINT [DF__product_v__price__5AEE82B9]  DEFAULT ((0.00)) FOR [sale_price]
GO
ALTER TABLE [dbo].[product_variants] ADD  CONSTRAINT [DF_product_variants_purchase_price]  DEFAULT ((0.00)) FOR [purchase_price]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0.00)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ('Shop Now') FOR [button_text]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [usage_limit]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [redeemed]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [apply_all]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [user_limit]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [is_coupon]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0)) FOR [new_member_only]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ('Percent') FOR [promo_type]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((0.00)) FOR [discount_value]
GO
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [DF_role_permissions_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff_activity_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff_fulfillment_log] ADD  DEFAULT (getdate()) FOR [action_at]
GO
ALTER TABLE [dbo].[staff_sales_daily] ADD  DEFAULT ((0)) FOR [total_products_sold]
GO
ALTER TABLE [dbo].[staff_sales_daily] ADD  DEFAULT ((0.00)) FOR [total_sales_value]
GO
ALTER TABLE [dbo].[staff_sales_logs] ADD  DEFAULT (getdate()) FOR [sold_at]
GO
ALTER TABLE [dbo].[staff_sales_monthly] ADD  DEFAULT ((0)) FOR [total_products_sold]
GO
ALTER TABLE [dbo].[staff_sales_monthly] ADD  DEFAULT ((0.00)) FOR [total_sales_value]
GO
ALTER TABLE [dbo].[store_sales_daily] ADD  DEFAULT ((0)) FOR [active_staff_count]
GO
ALTER TABLE [dbo].[store_sales_daily] ADD  DEFAULT ((0)) FOR [total_products_sold]
GO
ALTER TABLE [dbo].[store_sales_daily] ADD  DEFAULT ((0.00)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[store_sales_monthly] ADD  DEFAULT ((0)) FOR [total_products_sold]
GO
ALTER TABLE [dbo].[store_sales_monthly] ADD  DEFAULT ((0.00)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Variants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_Cart_Variants]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[customer_notifications]  WITH CHECK ADD  CONSTRAINT [FK_CustomerNotifications_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_notifications] CHECK CONSTRAINT [FK_CustomerNotifications_Users]
GO
ALTER TABLE [dbo].[guest_order_items]  WITH CHECK ADD  CONSTRAINT [FK_GuestOrderItems_GuestOrders] FOREIGN KEY([guest_order_id])
REFERENCES [dbo].[guest_orders] ([guest_order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[guest_order_items] CHECK CONSTRAINT [FK_GuestOrderItems_GuestOrders]
GO
ALTER TABLE [dbo].[guest_order_items]  WITH CHECK ADD  CONSTRAINT [FK_GuestOrderItems_ProductVariants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[guest_order_items] CHECK CONSTRAINT [FK_GuestOrderItems_ProductVariants]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Variants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_OrderItems_Variants]
GO
ALTER TABLE [dbo].[order_returns]  WITH CHECK ADD  CONSTRAINT [FK_OrderReturns_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_returns] CHECK CONSTRAINT [FK_OrderReturns_Orders]
GO
ALTER TABLE [dbo].[order_returns]  WITH CHECK ADD  CONSTRAINT [FK_OrderReturns_Variants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_returns] CHECK CONSTRAINT [FK_OrderReturns_Variants]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_Images_Products]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [FK_Variants_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [FK_Variants_Products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_promotions] FOREIGN KEY([promo_id])
REFERENCES [dbo].[promotions] ([promo_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_promotions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([permission_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[staff_activity_logs]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_activity_logs] CHECK CONSTRAINT [FK_Activity_Staff]
GO
ALTER TABLE [dbo].[staff_fulfillment_log]  WITH CHECK ADD  CONSTRAINT [FK_Fulfillment_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[staff_fulfillment_log] CHECK CONSTRAINT [FK_Fulfillment_Orders]
GO
ALTER TABLE [dbo].[staff_fulfillment_log]  WITH CHECK ADD  CONSTRAINT [FK_Fulfillment_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_fulfillment_log] CHECK CONSTRAINT [FK_Fulfillment_Staff]
GO
ALTER TABLE [dbo].[staff_sales_daily]  WITH CHECK ADD  CONSTRAINT [FK_StaffDaily_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_sales_daily] CHECK CONSTRAINT [FK_StaffDaily_Staff]
GO
ALTER TABLE [dbo].[staff_sales_logs]  WITH CHECK ADD  CONSTRAINT [FK_SalesLogs_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[staff_sales_logs] CHECK CONSTRAINT [FK_SalesLogs_Orders]
GO
ALTER TABLE [dbo].[staff_sales_logs]  WITH CHECK ADD  CONSTRAINT [FK_SalesLogs_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_sales_logs] CHECK CONSTRAINT [FK_SalesLogs_Staff]
GO
ALTER TABLE [dbo].[staff_sales_logs]  WITH CHECK ADD  CONSTRAINT [FK_SalesLogs_Variants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[staff_sales_logs] CHECK CONSTRAINT [FK_SalesLogs_Variants]
GO
ALTER TABLE [dbo].[staff_sales_monthly]  WITH CHECK ADD  CONSTRAINT [FK_StaffMonthly_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_sales_monthly] CHECK CONSTRAINT [FK_StaffMonthly_Staff]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role_id_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role_id_roles]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK_Wishlist_Products]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK_Wishlist_Users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CHK_OrderStatus] CHECK  (([order_status]='CancelledByStaff' OR [order_status]='CancelledByCustomer' OR [order_status]='Cancelled' OR [order_status]='Confirm' OR [order_status]='Processing' OR [order_status]='Pending'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CHK_OrderStatus]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentStatus] CHECK  (([payment_status]='paid' OR [payment_status]='unpaid'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CHK_PaymentStatus]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentMethod] CHECK  (([payment_method]='wave_money' OR [payment_method]='kpay' OR [payment_method]='cod'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CHK_PaymentMethod]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CHK_PayStatus] CHECK  (([payment_status]='refunded' OR [payment_status]='failed' OR [payment_status]='completed' OR [payment_status]='pending'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CHK_PayStatus]
GO
ALTER TABLE [dbo].[staff_activity_logs]  WITH CHECK ADD  CONSTRAINT [CHK_ActionType] CHECK  (([action_type]='delete' OR [action_type]='update' OR [action_type]='create'))
GO
ALTER TABLE [dbo].[staff_activity_logs] CHECK CONSTRAINT [CHK_ActionType]
GO
USE [master]
GO
